*{
    margin: 0;
    padding: 0;

}

.element1{
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}
.element2{
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}
.element3{
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}
.element4{
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}
table{
    border-style: solid;
    border-width: 1px;
}
th{
    text-align: left;
}
